{
    "require": {

    },
    "require-dev": {
        "squizlabs/php_codesniffer": "3.*"
    },
    "autoload": {
        "psr-4": {
            "App\\Acme\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "AppTest\\Acme\\": "test/"
        }
    },
    "minimum-stability": "stable",
    "prefer-stable": true
}